.password-input-container {
  display: flex;
  align-items: center;
  position: relative; /* Make the container a relative positioning context */
}
.password-input-container input {
  padding-right: 42px;
}
.password-toggle-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  position: absolute; /* Position the button absolutely within the container */
  top: 7px;
  right: 16px;
}
/* Header.css */
/* Header.css */
.money-management {
  display: flex;
  justify-content: center;
}

.money-management-navbar {
  background: linear-gradient(to right, #4caf50, #2196f3);
}

.nav-link {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
  border-radius: 0.25rem;
  color: white;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  background: linear-gradient(to right, #ffd700, #ffa500);
  color: white;
}

/* Add space between the links */
.nav-link + .nav-link {
  margin-left: 10px;
}

.user-email {
  font-weight: bold;
  color: white;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.notification-icon {
  display: flex;
  align-items: center;
}
/* Style the Logout button */
.navbar .btn-outline-danger {
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  color: #dc3545;
}

.navbar .btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}

.body-content {
  padding-bottom: 80px;
  margin-top: 78px;
}
