/* YourComponent.css */
.loader-container {
    position: relative;
  }
  
  .shapes {
    width: 44.8px;
    height: 44.8px;
    display: grid;
    animation: shapes-9tptoo 1.5s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f15b05; /* Light mushroom color */

    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the overlay */
    z-index: 9999; /* Place the loader on top of other content */
    filter: blur(1px); /* Apply blur to the background */
  }
  
  .shapes:before,
  .shapes:after {
    content: "";
    grid-area: 1/1;
    background: #f4c542; /* Light mushroom color */
    animation: shapes-q0lle4 1.5s infinite linear,
      shapes-c5rge7 1.5s infinite linear;
  }
  
  .shapes:after {
    --s: -1;
    animation-direction: reverse;
  }
  
  @keyframes shapes-9tptoo {
    0%, 9%, 91%, 100% {
      background: #f4c542; /* Light mushroom color */
    }
  
    10%, 90% {
      background: transparent; /* No background color */
    }
  }
  
  @keyframes shapes-q0lle4 {
    0%, 33% {
      clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%);
    }
  
    66%, 100% {
      clip-path: polygon(50% 0, 50% 100%, 50% 0, 100% 100%, 0 100%);
    }
  }
  
  @keyframes shapes-c5rge7 {
    0%, 10%, 90%, 100% {
      transform: scale(var(--s, 1)) translateY(0);
    }
  
    33%, 66% {
      transform: scale(var(--s, 1)) translateY(50%);
    }
  }
  
 